<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<listener>
		<listener-class>org.openlids.geowrap.Listener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>findNearbyWikipedia</servlet-name>
		<servlet-class>org.openlids.geowrap.FindNearbyWikiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>findNearbyPlaceName</servlet-name>
		<servlet-class>org.openlids.geowrap.FindNearbyPlaceNameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>findNearby</servlet-name>
		<servlet-class>org.openlids.geowrap.FindPointServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findNearby</servlet-name>
		<url-pattern>/findNearby</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findNearbyWikipedia</servlet-name>
		<url-pattern>/findNearbyWikipedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findNearbyPlaceName</servlet-name>
		<url-pattern>/findNearbyPlaceName</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
