<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>Twitter API LIDS</display-name>
	
  <context-param>
    <param-name>webmaster</param-name>
    <param-value>harth@kit.edu</param-value>
  </context-param>

	<listener>
		<listener-class>edu.kit.aifb.lids.twitterwrap.Listener</listener-class>
	</listener>

	<servlet>
		<servlet-name>timeline</servlet-name>
		<servlet-class>edu.kit.aifb.lids.twitterwrap.TimelineServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>tweets</servlet-name>
		<servlet-class>edu.kit.aifb.lids.twitterwrap.TweetsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>users</servlet-name>
		<servlet-class>edu.kit.aifb.lids.twitterwrap.UsersServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>friends</servlet-name>
		<servlet-class>edu.kit.aifb.lids.twitterwrap.FriendsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>geosearch</servlet-name>
		<servlet-class>edu.kit.aifb.lids.twitterwrap.GeoSearchServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>edu.kit.aifb.lids.twitterwrap.SearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>timeline</servlet-name>
		<url-pattern>/statuses/user_timeline</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>timeline</servlet-name>
		<url-pattern>/statuses/public_timeline</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tweets</servlet-name>
		<url-pattern>/statuses/show/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>users</servlet-name>
		<url-pattern>/users/show</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>friends</servlet-name>
		<url-pattern>/statuses/friends</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>friends</servlet-name>
		<url-pattern>/statuses/followers</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>geosearch</servlet-name>
		<url-pattern>/geo/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>geosearch</servlet-name>
		<url-pattern>/geo/similar_places</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>geosearch</servlet-name>
		<url-pattern>/geo/reverse_geocode</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>geosearch</servlet-name>
		<url-pattern>/geo/id/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
