<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>Geonames API LIDS</display-name>
	
  <context-param>
    <param-name>webmaster</param-name>
    <param-value>harth@kit.edu</param-value>
  </context-param>

	<listener>
		<listener-class>edu.kit.aifb.lids.geonameswrap.Listener</listener-class>
	</listener>

	<servlet>
		<servlet-name>iso</servlet-name>
		<servlet-class>com.ontologycentral.geowrap.ISOServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>geonames</servlet-name>
		<servlet-class>edu.kit.aifb.lids.geonameswrap.GeoNamesServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>earthquakes</servlet-name>
		<servlet-class>edu.kit.aifb.lids.geonameswrap.EarthquakesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>iso</servlet-name>
		<url-pattern>/iso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/findNearby</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/findNearbyWikipedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/findNearbyPlaceName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/findNearbyPostalCodes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/wikipediaBoundingBox</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/wikipediaSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geonames</servlet-name>
		<url-pattern>/cities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>earthquakes</servlet-name>
		<url-pattern>/earthquakes</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
